{% extends "base.html" %}

{% load static component_tags %}

{% block title %}
  {{ block.super }} — Posts
{% endblock title %}
{% block content %}
  <div class="flex flex-col gap-4 items-center">
    <form action="{% url 'posts' %}"
          method="post"
          enctype="multipart/form-data"
          class="flex gap-2 items-center">
      {% csrf_token %}
      {{ form }}
      <div id="post-search-tags" class="flex gap-2">
        {% component "add_tagset" autocomplete_url="post-autocomplete" tags=tags / %}
        <input type="submit" value="Search" class="mt-4 text-xl btn btn-primary" />
      </div>
    </form>
    <section class="flex flex-col gap-4 items-center">
      {% component "pager" with pager=pager page=page / %}
      <div class="flex flex-wrap gap-4 justify-center">
        {% for post in page %}
          {% component "post_thumbnail" post=post / %}
        {% endfor %}
      </div>
      {% component "pager" with pager=pager page=page / %}
    </section>
  </div>
{% endblock content %}
