{% extends "base.html" %}

{% load component_tags %}

{% block title %}
  {{ block.super }} — Tags
{% endblock title %}
{% block content %}
  <label class="self-center input">
    <i class="feather" data-feather="filter"></i>
    <input type="search"
           placeholder="Filter tags..."
           name="q"
           value="{{ request.GET.q }}"
           hx-get=""
           hx-trigger="input changed delay:500ms, keyup[key=='Enter'], search"
           hx-target="#tags-container"
           hx-swap="outerHTML"
           hx-boost="true"
           hx-preserve="true" />
  </label>
  {% include "tags/tags_by_category.html" %}
{% endblock content %}
