{% extends "base.html" %}

{% load component_tags %}

{% block title %}
  {{ block.super }} — Upload
{% endblock title %}
{% block content %}
  <div class="flex gap-4">
    <form action="{% url 'upload' %}"
          method="post"
          enctype="multipart/form-data"
          class="flex flex-col gap-4 items-center">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Post" class="text-xl btn btn-primary" />
      <div id="all-posts-tagset" class="flex">{% component "add_tagset" autocomplete_url="tag-autocomplete" / %}</div>
    </form>
  </div>
{% endblock content %}
