{% extends "base.html" %}

{% load component_tags %}

{% block title %}
  {{ block.super }} — Upload
{% endblock title %}
{% block content %}
  <div class="flex gap-4">
    <form action="{% url 'upload' %}"
          method="post"
          enctype="multipart/form-data"
          class="flex gap-4 items-center">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Post" class="text-xl btn btn-primary" />
    </form>
  </div>
  <div class="flex">{% component "tag_search" / %}</div>
{% endblock content %}
